body {
  background-color: antiquewhite;
}

.kanban-board {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.column-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #000;
  padding: 0 0 0 8px;
  margin-bottom: 10px;
}

.column {
  background: #cbc8c8;
  padding: 8px;
  width: 250px;
  border-radius: 20px;
  min-height: 500px;
  margin: 8px;
  border-bottom: 2px solid #000;
}

.task-container {
  user-select: none;
  padding: 16px;
  margin: 0 0 8px 0;
  min-height: 50px;
  background-color: #fff;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 8px;
  border-bottom: 2px solid #000;
}

.task-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-title {
  margin: 0;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task-menu-button {
  margin-left: 8px;
}

.task-description {
  margin: 8px 0 0 0;
  width: 100%;
  word-wrap: break-word;
}

.empty-message{
  margin: 0;
  text-align: center;
  font-style: italic;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  padding: 8px;
  
}